## import Libraries

In [ ]:
import pandas as pd;
import numpy as np;
import sklearn;
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.linear_model as linear_model

## loading Titanic Dataset

In [2]:
data=pd.read_csv('../Datasets/titanic.csv')

## printing Dataset

In [3]:
print("the current dataset is :",data)

the current dataset is :                                  name survived     sex      age passengerClass
0       Allen, Miss. Elisabeth Walton      yes  female  29.0000            1st
1      Allison, Master. Hudson Trevor      yes    male   0.9167            1st
2        Allison, Miss. Helen Loraine       no  female   2.0000            1st
3     Allison, Mr. Hudson Joshua Crei       no    male  30.0000            1st
4     Allison, Mrs. Hudson J C (Bessi       no  female  25.0000            1st
...                               ...      ...     ...      ...            ...
1041             Youseff, Mr. Gerious       no    male  45.5000            3rd
1042             Zabour, Miss. Hileni       no  female  14.5000            3rd
1043        Zakarian, Mr. Mapriededer       no    male  26.5000            3rd
1044              Zakarian, Mr. Ortin       no    male  27.0000            3rd
1045               Zimmerman, Mr. Leo       no    male  29.0000            3rd

[1046 rows x 5 columns]

## feature selection

In [9]:
x = data[["age", "passengerClass", "sex"]]
y = data["survived"]

## split data into different 

x_train,x_test,y_test=train_test_Split(x,y,test_size=0.2)